@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

/* @font-face {
  font-family: "Inter";
  src: url("../assets/fonts/inter/Inter-Bold.ttf");
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/inter/Inter-Black.ttf");
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/inter/Inter-Bold.ttf");
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/inter/Inter-ExtraBold.ttf");
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/inter/Inter-ExtraLight.ttf");
}

*/
